DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=
DB_DIALECT=postgres
DB_NAME_DEVELOPMENT=uber-fake
DB_NAME_PRODUCTION=production_database_name
NODE_ENV=dev

# Wompi

PUBLIC_KEY_WOMPI=
PRIVATE_KEY_WOMPI=
INTEGRITY_KEY_WOMPI=